/* merriweather 300 */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/merriweather-v11-latin-300.woff2") format("woff2"), url("../assets/fonts/merriweather-v11-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather 300 italic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/merriweather-v11-latin-300italic.woff2") format("woff2"), url("../assets/fonts/merriweather-v11-latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather regular */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/merriweather-v11-latin-regular.woff2") format("woff2"), url("../assets/fonts/merriweather-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather italic*/
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/merriweather-v11-latin-italic.woff2") format("woff2"), url("../assets/fonts/merriweather-v11-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather 700 */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/merriweather-v11-latin-700.woff2") format("woff2"), url("../assets/fonts/merriweather-v11-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather 700 italic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/merriweather-v11-latin-700italic.woff2") format("woff2"), url("../assets/fonts/merriweather-v11-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* LoveloBlack */
@font-face {
  font-family: 'LoveloBlack';
  src: url("../assets/fonts/LoveloBlack.woff2") format("woff2"), url("../assets/fonts/LoveloBlack.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'LoveloBlack', 'Helvetica', sans-serif;
  color: #19191a;
  font-size: 4.1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

h2,
h3 {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 34px;
  color: #272727;
}

h3 {
  color: #646466;
}

h4 {
  font-size: 2.5rem;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 5.5rem;
    margin-bottom: 4rem;
  }
  .social,
  h1,
  h2,
  h3 {
    text-align: center;
  }
}

p {
  font-size: 1.6rem;
}

li {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0 1rem;
}

a {
  scroll-behavior: smooth;
  font-weight: 400;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary);
}

a.link-underline {
  position: relative;
}

a.link-underline:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1px;
  left: 0;
  background-color: currentColor;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.link-underline:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* projects */
.project {
  background-color: #ffffff;
  margin: 2em 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.project-wrapper {
  background-color: #f0f0f0;
  margin: 0 auto;
  padding: 2em 0em;
}

.project-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.project-image {
  position: relative;
  overflow: hidden;
}

.project:hover {
  -webkit-box-shadow: 0 10px 20px #c7cad1;
          box-shadow: 0 10px 20px #c7cad1;
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
}

.summary {
  padding: 2rem 5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.summary .title {
  color: #19191a;
  font-family: 'LoveloBlack', 'Helvetica', sans-serif;
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 600;
}

.summary .metadata {
  color: #7d7d80;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin: 1rem 0 1.5rem 0;
  font-family: 'LoveloBlack', 'Helvetica', sans-serif;
  text-transform: uppercase;
}

.summary .subtitle {
  color: #646466;
  font-size: 2.2rem;
  font-weight: 400;
  margin: 2rem 0 3rem;
}

.summary .project-links {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  font-family: 'LoveloBlack', 'Helvetica', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.5px;
  margin: 0rem 2rem 2rem 0;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid var(--primary);
  opacity: 0.9;
}

button.primary {
  background-color: var(--primary);
  color: #f0f0f0;
}

button.primary a {
  color: #f0f0f0;
}

button.secondary {
  background-color: white;
}

button:hover {
  -webkit-transform: translate(0, -3px);
  transform: translate(0, -3px);
  -webkit-box-shadow: 0 6px 10px #c7c7c9;
          box-shadow: 0 6px 10px #c7c7c9;
  opacity: 1;
}

button a {
  font-size: 1.6rem;
  line-height: 21px;
  letter-spacing: 0.5px;
}

@media (max-width: 650px) {
  .summary {
    padding: 1rem 2rem;
  }
}

@media (min-width: 650px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project-image {
    position: relative;
    vertical-align: middle;
    text-align: center;
    min-width: 50%;
    max-height: 100%;
  }
  .project-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: none;
            transform: none;
  }
}

/* footer */
footer {
  background-color: #19191a;
  color: #cccccc;
  font-family: 'LoveloBlack', 'Helvetica', sans-serif;
  font-size: 0.7rem;
  padding: 4.5rem 0;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer svg {
  width: 14px;
  height: 14px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.5rem;
  padding: 11px 12px;
  background-color: #19191a;
  border: 1px solid white;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-button:hover {
  -webkit-transform: translate(0, -3px);
  transform: translate(0, -3px);
  opacity: 1;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

:root {
  font-size: 10px;
  --primary: #43d8bc;
  --text: #333;
}

body {
  color: var(--text);
  background: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Merriweather', 'Georgia', serif;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #eff1f5;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: #6d6f74;
  border-radius: 5px;
}

.main-container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 6%;
  scroll-behavior: smooth;
}

.social {
  font-style: italic;
  font-weight: 500;
  font-size: 1.8;
  padding: 2rem 0 1rem 0;
}

.home {
  padding: 0.5rem 0 1rem 0;
}

#contact {
  margin-top: 8rem;
  background-color: #ececec;
}

form {
  min-height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

form button {
  margin: 2rem 0;
}

form textarea,
form input {
  margin: 1rem 0;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.5rem;
  border: 1px solid #ddd;
  width: 50%;
}

@media screen and (max-width: 576px) {
  form textarea,
  form input {
    width: 90%;
  }
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .tools {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.tools p {
  font-family: 'LoveloBlack', 'Helvetica', sans-serif;
  font-size: 2.4rem;
  padding: 0 2rem 0 0;
}

.tools ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.tools ul li:nth-child(-n + 2) svg {
  width: 2.7rem;
}

.tools svg {
  width: 3rem;
}
/*# sourceMappingURL=styles.css.map */